<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
  <title>Signup</title>
  <style>
    body {
  
    }
    .card {
      background-color: #ffffff; 
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    }
    .container {
      height: 70vh; 
      display: flex;
      justify-content: center;
      align-items: center;
    }
  </style>
</head>

<body>
  <%- include('./partials/nav') %>

  <div class="container">
    <div class="card p-4" style="width: 400px;">
      <form action="/user/signup" method="post">
        <div class="mb-3">
          <label for="fullName" class="form-label">Full Name</label>
          <input type="text" class="form-control card border-info" id="fullName" name="fullName" aria-describedby="fullName" />
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" name="email" class="form-control card border-info" id="exampleInputEmail1" aria-describedby="emailHelp" />
          <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input name="password" type="password" class="form-control card border-info" id="exampleInputPassword1" />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>

  <%- include('./partials/scripts') %>
</body>

</html>
